include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          header.header
                a.logo(href="") ВГ
                .header__menu
                  nav.nav
                    ul.nav__list
                      - var menu = ['Главная','Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}
                .header__links
                  ul.socials
                    - var socials = ['insta','vk','github'];
                    each item in socials
                      li.socials__item
                        a(href='' target="_blank").socials__link
                          +icon(`${item}`,'socials__icon')
                
          section.hero
            .container.hero__container
              

              .hero__content
                .user-info
                  span.user-info__desc Личный сайт<br> веб разработчика
                  h1.user-info__name ВЛАДИМИР<br> ГОЛУБЬ
              .hero__bottom-buttons
                .scroll-down 
                  span.scroll-down-text Скролл
                  button(type="button").scroll-down-btn
                    +icon('scroll','scroll-down-button-svg')
          section.about
            .container.about__container
              .about__left
                .user
                  .user__avatar
                    +image('content/user1.jpg', 'user__avatar-pic', "Владимир Голубь")
                  .user__data
                    table.user__data-table
                      -
                        var data = [
                          ['Проживаю', 'Нижний Новгород'],
                          ['Возраст', '25 лет'],
                          ['Родился', '27 декабря 1993']
                        ]
                      each row in data
                        tr.user__data-row
                          td.user__data-cell #{row[0]}
                          td.user__data-cell.user__data-cell--info #{row[1]}
              .about__right
                .about__welcome 
                  p Привет, меня зовут
                h2.section-title.about__username Владимир Голубь
                .about__desc
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты
                .about__ps
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. а пока посмотрети, как тут всё классно и красиво!
        .triangles
          svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 0,100 1000,100"
            )
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,100 1000,100 1000,0"
            )    
        section.values
          .container.values__container
            .values__title
              h2.section-title.values__title-text.section-title--small Чем я могу быть полезен вам 
              .values__desc
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            ul.user-skills
              -
                var skills = [
                  ['Front-end',['HTML5','CSS3','Javascript','Jquery и Vue.js']],
                  ['Workflow',['GIT','Terminal','Gulp','Webpack']],
                ];
              each item in skills
                li.user-skills__item.skills-row                
                    h3.skills-row__title #{item[0]}
                    ul.skills-row__list
                      each skill in item[1]                
                        li.skills-row__item
                          .skill
                            svg(viewBox="0 0 200 200" preserveAspectRatio='none').skill__shape
                              <defs>
                                <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                                  <stop offset="0%" stop-color="#5500f2" />
                                  <stop offset="100%" stop-color="#8f00ef" />
                                  </linearGradient>
                              </defs>
                              circle(
                                r="70" cx="100" cy="100"
                              ).skill__circle.skill__circle--under
                              circle(
                                r="70" cx="100" cy="100" transform="rotate(180, 100 100)" stroke = "url(#gradient)"
                              ).skill__circle.skill__circle--above
                              //- linear-gradient()
                            h4.skill__title #{skill}
        section.works
          - var workItems = [1, 2, 3, 4, 5];
          - 
            var previewsFiles = [
            'content/work5.jpg',
            'content/work4.jpg',
            'content/work3.jpg',
            'content/work2.jpg',
            'content/work1.jpg',
            ];
          - var techList = ['HTML','CSS','JavaScript'];
          .container.works__container
            .works__title
              h2.section-title Мои работы
            .works__content
              .works__left
                .works_slider
                  ul.works__slider-list
                    li.works__slider-item
                      .works__preview-wrapper
                        .works__preview
                          +image(previewsFiles[4],"works__preview-img", "Пример работы")
                          .works__preview-minilist-wrapper
                            ul.works__preview-minilist
                              each item,index in workItems                          
                                li.works__preview-item
                                  button(type="button").works__preview-item-btn
                                    +image(previewsFiles[index], "works__preview-item-img", "Пример работы")
                      .works__slider-control
                        .works__slider-arrows
                          button(type="button").works__slider-btn.works__slider-btn--up
                            +icon('arrow-down', 'arrow arrow--up')
                          button(type="button").works__slider-btn.works__slider-btn--down
                            +icon('arrow-down', 'arrow arrow--down')    
              .works__right
                .works__tech
                  ul.tech-list
                    each item in techList
                      li.tech-list__item.tech-item 
                        span.tech-stack #{item}
                .works__desc
                  h3.works__desc-title.desc-title Сайт школы<br> образования
                  .works__desc-text
                    p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a(href="#" target="_blank").works__link Посмотреть сайт      
        
        .bottom-section
          .triangles.triangles--bottom
            svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
              polygon(
                points="0,0 1000,0 1000,100"
              )
            svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
              polygon(
                points="0,100 0,0 1000,0"
              )    
          section.reviews
            .container.reviews__container
              .reviews__title
                h2.section-title Что обо мне говорят
                .reviews__slider-controls
                  .reviews__arrows
                    button(type="button").reviews__btn.reviews__btn--left
                      +icon('arrow-down', 'arrow arrow--left')
                    button(type="button").reviews__btn.reviews__btn--right
                      +icon('arrow-down', 'arrow arrow--right')
              .reviews__slider-wrapper
                ul.reviews__slider
                  -
                    var reviewsObjArr = [{"name": "Ковальчук Дмитрий","position": "Основатель Loftschool","content": "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!","photo": "content/DK2.png"},{"name": "Владимир Сабанцев","position": "Преподаватель","content": "Этот код выдержит любые испытания. Только, пожалуйста, не загружайте сайт на слишком старых браузерах.","photo": "content/VS2.jpg"}];
                  each item in reviewsObjArr
                    li.reviews__slider-item
                      q.reviews__quote #{item.content}
                      .reviews__author-wrapper
                        .reviews__author
                          .reviews__author-photoframe
                            +image(`${item.photo}`, 'reviews__author-img', item.name)
                            //- .reviews__author-img(style="background-image: url(`${item.photo}`)")
                          .reviews__bio
                            span.reviews__name #{item.name}
                            span.reviews__position #{item.position}
          section.contact
            .container.contact__container
              .contact__title
                h2.section-title Связаться со мной
              form.contact__form
                .contact__form-row
                  .contact__form-col.contact__form-col--name
                    label.contact__form-element
                      span.contact__form-label Введите Ваше имя
                      input.contact__form-input.contact__form-input--name(type="text" name="name" placeholder="Ковальчук Дмитрий")
                  .contact__form-col.contact__form-col--email
                    label.contact__form-element
                      span.contact__form-label Введите Ваш email
                      input.contact__form-input.contact__form-input--email(type="text" name="email" placeholder="loftschool@study.com")
                .contact__form-row
                  .contact__form-col.contact__form-col--comment
                     label.contact__form-element
                      span.contact__form-label Сообщение к письму
                      textarea.contact__form-textarea(name="comment" placeholder="Требуется Ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
                .contact__form-row.contact__form-row--submit
                  button(type="submit").contact__form-submit ОТПРАВИТЬ

        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year 2019
                .copyright__text
                  .copyright__username ВЛАДИМИР<br> ГОЛУБЬ
                  .copyright__desc Личный сайт<br> веб разработчика
            .footer__data
              .footer__menu
                nav.nav.nav--color-white
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .footer__data-columns
                .footer__data-col
                  .footer__text
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__socials
                    ul.socials.socials--rounded
                      each item in socials
                        li.socials__item
                          a(href='' target="_blank").socials__link
                            +icon(`${item}`,'socials__icon')
                .footer__quote
                  article.quote
                    .blockqoute
                      p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете
                    cite.quote__author Martin Golding





        