include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          section.parallax
            .parallax__layer(data-speed="0.1")
              +image("content/1_Sky.jpg", "parallax__image", "Слой для параллакса")
            .parallax__layer(data-speed="0.25")
              +image("content/2_Mountain.png", "parallax__image", "Слой для параллакса")
            .parallax__layer(data-speed="0.35")
              +image("content/3_Baloon.png", "parallax__image", "Слой для параллакса")
            .parallax__layer(data-speed="0.38")
              +image("content/4_Cloud.png", "parallax__image", "Слой для параллакса")
            .parallax__layer(data-speed="0.45")
              +image("content/5_Man.png", "parallax__image", "Слой для параллакса")
            .parallax__layer(data-speed="0.48")
              +image("content/6_Mountain.png", "parallax__image", "Слой для параллакса")
            .parallax__layer(data-speed="0.5")
              +image("content/7_White1.png", "parallax__image", "Слой для параллакса")
            .parallax__layer(data-speed="0.3")
              +image("content/7_White1.png", "parallax__image", "Слой для параллакса")
            .parallax__layer(data-speed="0.3")
              +image("content/7_White1.png", "parallax__image", "Слой для параллакса")
          header.header
                a.logo(href="") ВГ
                .header__menu
                  nav.nav
                    ul.nav__list
                      - var menu = ['Главная','Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      - var menuLinks = ['#hero','#about','#skills','#works','#reviews','#contacts']
                      each item,index in menu
                        li.nav__item
                          a(href=`${menuLinks[index]}`).nav__link #{item}
                .header__links
                  ul.socials
                    - var socials = ['insta','vk','github'];
                    each item in socials
                      li.socials__item
                        a(href='' target="_blank").socials__link
                          +icon(`${item}`,'socials__icon')
                  .header__burger-menu
                    <button type="button" class="burger-menu__link">
                      <span class="burger-menu__bars"></span>
                    </button>
                

          section.fullscreen-section.hero#hero
            .container.hero__container
              

              .hero__content
                .user-info
                  span.user-info__desc Личный сайт<br> веб разработчика
                  h1.user-info__name ВЛАДИМИР<br> ГОЛУБЬ
              .hero__bottom-buttons
                .scroll-down 
                  span.scroll-down-text Скролл
                  button(type="button").scroll-down-btn
                    +icon('scroll','scroll-down-button-svg')
          .mobile-menu
            .mobile-menu__container
              .mobile-menu__header
                button(type="button").mobile-close
                  +icon('remove','close-svg')
              .mobile-menu__content
                .mobile-menu__list
                  nav.nav
                    ul.nav__list.nav-mobile
                      - var menu = ['Главная','Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      - var menuLinks = ['#hero','#about','#skills','#works','#reviews','#contacts']
                      each item,index in menu
                        li.nav__item.mobile-menu__item
                          a(href=`${menuLinks[index]}`).nav__link #{item}
                .mobile-menu__socials
                  ul.socials.socials--mobile
                    - var socials = ['insta','vk','github'];
                    each item in socials
                      li.socials__item.mobile-menu__socials-item
                        a(href='' target="_blank").socials__link
                          +icon(`${item}`,'socials__icon')
                


          section.fullscreen-section.about#about
            .container.about__container
              .about__left
                .user
                  .user__avatar
                    +image('content/user1.jpg', 'user__avatar-pic', "Владимир Голубь")
                  .user__data
                    table.user__data-table
                      -
                        var data = [
                          ['Проживаю', 'Нижний Новгород'],
                          ['Возраст', '25 лет'],
                          ['Родился', '27 декабря 1993']
                        ]
                      each row in data
                        tr.user__data-row
                          td.user__data-cell #{row[0]}
                          td.user__data-cell.user__data-cell--info #{row[1]}
              .about__right
                .about__welcome 
                  p Привет, меня зовут
                h2.section-title.about__username Владимир Голубь
                .about__desc
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты
                .about__ps
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. а пока посмотрети, как тут всё классно и красиво!
        .triangles
          svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 0,100 1000,100"
            )
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,100 1000,100 1000,0"
            )    
        section.values#skills
          .container.values__container
            .values__title
              h2.section-title.values__title-text.section-title--small Чем я могу быть полезен вам 
              .values__desc
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .values__widget
              #skills-component
              
        section.works#works
          - var workItems = [1, 2, 3, 4, 5];
          - 
            var previewsFiles = [
            'content/work5.jpg',
            'content/work4.jpg',
            'content/work3.jpg',
            'content/work2.jpg',
            'content/work1.jpg',
            ];
          - var techList = ['HTML','CSS','JavaScript'];
          .container.works__container
            .works__title
              h2.section-title Мои работы
            .works__content
              #slider-component        
        .bottom-section
          .triangles.triangles--bottom
            svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
              polygon(
                points="0,0 1000,0 1000,100"
              )
            svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
              polygon(
                points="0,100 0,0 1000,0"
              )    
          #reviews
          section.contact#contacts
            .container.contact__container
              .contact__title
                h2.section-title Связаться со мной
              form.contact__form
                .contact__form-row
                  .contact__form-col.contact__form-col--name
                    label.contact__form-element
                      span.contact__form-label Введите Ваше имя
                      input.contact__form-input.contact__form-input--name(type="text" name="name" placeholder="Ковальчук Дмитрий")
                  .contact__form-col.contact__form-col--email
                    label.contact__form-element
                      span.contact__form-label Введите Ваш email
                      input.contact__form-input.contact__form-input--email(type="text" name="email" placeholder="loftschool@study.com")
                .contact__form-row
                  .contact__form-col.contact__form-col--comment
                     label.contact__form-element
                      span.contact__form-label Сообщение к письму
                      textarea.contact__form-textarea(name="comment" placeholder="Требуется Ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
                .contact__form-row.contact__form-row--submit
                  button(type="submit").contact__form--submit ОТПРАВИТЬ

        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year 2019
                .copyright__text
                  .copyright__username ВЛАДИМИР ГОЛУБЬ
                  .copyright__desc Личный сайт веб разработчика
            .footer__data
              .footer__menu
                nav.nav.nav--color-white
                  ul.nav__list
                    each item,index in menu
                      li.nav__item
                        a(href=`${menuLinks[index]}`).nav__link #{item}
              .footer__data-columns
                .footer__data-col
                  .footer__text
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__socials
                    ul.socials.socials--rounded
                      each item in socials
                        li.socials__item
                          a(href='' target="_blank").socials__link
                            +icon(`${item}`,'socials__icon')
                .footer__quote
                  article.quote
                    .blockqoute
                      p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете
                    cite.quote__author Martin Golding

    include ./templates/entry.pug





        