include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          section.hero
            .container.hero__container
              header.header
                .logo ВГ
                .header__menu
                  nav.nav
                    ul.nav__list
                      - var menu = ['Главная','Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}
                .header__links
                  ul.socials
                    - var socials = ['insta','vk','github'];
                    each item in socials
                      li.socials__item
                        a(href='').socials__link
                          +icon(`${item}`,'socials__icon')

              .hero__content
                .user-info
                  .user-info__desc Личный сайт<br> веб разработчика
                  h1.user-info__name ВЛАДИМИР<br> ГОЛУБЬ
              .hero__bottom-buttons
                .scroll-down 
                  .scroll-down-text Скролл
                  a(href="").scroll-down-link
                    +icon('scroll','scroll-down-button-svg')
          section.about
            .container
              .about__left
                .user
                  .user__avatar
                    +image('content/user1.jpg', 'user__avatar-pic')
                  .user__data
                    table.user__data-table
                      -
                        var data = [
                          ['Проживаю', 'Нижний Новгород'],
                          ['Возраст', '25 лет'],
                          ['Родился', '27 декабря 1993']
                        ]
                      each row in data
                        tr.user__data-row
                          td.user__data-cell #{row[0]}
                          td.user__data-cell.user__data-cell--info #{row[1]}
              .about__right
                .about__welcome 
                  p Привет, меня зовут
                .about_username Владимир Голубь
                .about__desc
                  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae ad, laborum tempore magni incidunt harum fugit nostrum obcaecati pariatur ipsum omnis dolorum eligendi, exercitationem neque fuga rerum repellendus in sit.

                .about__ps
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio iusto non a deleniti placeat similique tempora, nostrum quibusdam ad rem saepe asperiores architecto dolorum sint temporibus nemo quidem assumenda consectetur.
        .triangles
          svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 0,100 1000,100"
            )
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,100 1000,100 1000,0"
            )    
        section.values
          .container.values__container
            .values__title
              h2.section-title.values__title-text.section-title--small Чем я могу быть полезен вам 
              .values__desc
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus itaque optio ea debitis aspernatur aut sed provident, illum vitae eligendi, eaque totam qui porro ipsum soluta mollitia perspiciatis beatae commodi.
            ul.user-skills
              -
                var skills = [
                  ['Front-end',['HTML5','CSS3','Javascript','Jquery и Vue.js']],
                  ['Workflow',['GIT','Terminal','Gulp','Webpack']],
                ];
              each item in skills
                li.user-skills__item.skills-row                
                    h3.skills-row__title #{item[0]}
                    ul.skills-row__list
                      each skill in item[1]
                        li.skills-row__item
                          .skill
                            svg(viewBox="0 0 200 200" preserveAspectRatio='none').skill__shape
                              circle(
                                r="80" cx="100" cy="100"
                              ).skill__circle.skill__circle--under
                              circle(
                                r="80" cx="100" cy="100" transform="rotate(180, 100 100)"
                              ).skill__circle.skill__circle--above
                              //- linear-gradient()
                            h4.skill__title #{skill} 
        .triangles
          svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 1000,0 1000,100"
            )
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,100 0,0 1000,0"
            )    
        .bottom-section
          section.reviews
            .reviews__title
              h2.section-title Что обо мне говорят
              .reviews__slider-controls
            ul.reviews__slider
              - for (var i=0;i < 2; i++)
                li.review__slider-item
                  .quote
                    article.quote__text
                    .quote__author
                      .user.user--horizontal
                        .user__avatar
                          +image('content/DK.png', 'user__avatar-pic')
                        .user__data
                          .user__name Ковальчук Дмитрий
                          .user__occ Основатель Loftschool

              li.reviews__slider-item


          section.form

        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year 2019
                .copyright__username Владимир Голубь
                .copyright__desc Личный сайт
            .footer__data
              .footer__menu
                nav.nav.nav--color-white
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .footer__data-columns
                .footer__data-col
                  .footer__text
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus ex id corrupti et recusandae enim? Dignissimos ex voluptates quasi magni explicabo. Esse deserunt laboriosam harum incidunt, nemo consectetur corrupti.
                  .footer__socials
                    ul.socials.socials--rounded
                      each item in socials
                        li.socials__item
                          a(href='').socials__link
                            +icon(`${item}`,'socials__icon')
                .footer__data-col
                  article.footer__text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis atque nesciunt debitis, consequuntur voluptates dignissimos quibusdam facilis obcaecati ipsa iusto, sapiente magnam quos aliquid suscipit explicabo maiores quae eligendi fugit.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odio veritatis natus asperiores possimus! Dolores cumque provident commodi saepe ut hic illum, dolore deleniti ullam tenetur magnam cupiditate fugit placeat?




        